@page
@model TaskNote.JQruery.Pages.TaskListModel
@{
    var title = "TaskList";
    ViewData["Title"] = title;
}


<ul>
    @foreach (var task in Model.TaskShorts)
    {
        <li><a asp-page="TaskEditor" asp-route-id="@task.Id">@task.Title</a></li>
    }
</ul>

<input type="radio" name="sample" value="apple">リンゴ
<input type="radio" name="sample" value="melon">メロン
<input type="radio" name="sample" value="banana">バナナ


<script src="~/js/JavaScript.js"></script>

