@page
@model TaskNote.JQruery.Pages.TaskListModel
@{
    var title = "TaskList";
    ViewData["Title"] = title;
}

<script src="~/js/api-client/base.js"></script>
<script src="~/js/api-client/task-api-client.js"></script>

<form method="post">
    <button type="submit" asp-page-handler="Search" name="Search">追加</button>
    <ul>
        @foreach (var task in Model.TaskShorts)
        {
            <li>
                <a asp-page="TaskEditor" asp-route-id="@task.Id">@task.Title</a>

                <button type="submit">削除</button>
            </li>
        }
    </ul>
</form>


