@page
@model TaskNote.JQruery.Pages.TaskListModel
@{
    var title = "TaskList";
    ViewData["Title"] = title;
}

<ul>
    @foreach (var task in Model.TaskShorts.Tasks)
    {
        <li><a asp-page="TaskEditor" asp-route-id="@task.Id">@task.Title</a></li>
    }
</ul>

