<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target 
      name="File" 
      xsi:type="File" 
      fileName="${basedir}Logs\${date:format=yyyy-MM-dd}.log"
      layout="${time} ${uppercase:${level}} ${logger} ${message} ${exception}"
      maxArchiveFiles="10"
      />
    <target
      name="OutputDebugString"
      xsi:type="OutputDebugString"
      layout="${time} ${uppercase:${level}} ${logger} ${message} ${exception}"
      />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="File" />
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="OutputDebugString" />
  </rules>
</nlog>