<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
      layout="${processtime} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
      layout="${processtime} ${uppercase:${level}} ${logger} ${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5,innerFormat=shortType,message,method}"
    -->
  <targets>
    <target 
      name="File" 
      xsi:type="File" 
      fileName="Logs\${gdc:TestName}.log"
      deleteOldFileOnStartup="true"
      header="[Start : ${longdate}]"
      layout="${processtime} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=shortType,message:maxInnerExceptionLevel=5:innerFormat=shortType,message}}"
      footer="[End : ${longdate}]"
      maxArchiveFiles="1"
    />
    <target
      name="OutputDebugString"
      xsi:type="OutputDebugString"
      layout="${processtime} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=shortType,message:maxInnerExceptionLevel=5:innerFormat=shortType,message}}"
      />
    <target
      name="Console"
      xsi:type="Console"
      layout="${processtime} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=shortType,message:maxInnerExceptionLevel=5:innerFormat=shortType,message}}"
      />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="File" />
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="OutputDebugString" />
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="Console" />
  </rules>
</nlog>